@import url(https://fonts.googleapis.com/css?family=Poppins);

h1 {
	text-align: center;
  	font-family: 'Poppins';

p {
	font-family: Benton Sans, sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	margin: 2em;
}